<meta charset="UTF-8">
<title>BlogsnBlogs</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css">
<style>
  body { padding-top:10px; }
</style>